/*BODY*/
body {
    overflow-x: hidden;
}

.body {
    font-family: 'Source Code Pro', monospace;
}

*:focus {
    outline: none !important
}

@media only screen and (max-width:1065px) {
    h1 {
        font-size: 50px !important;
    }

    h3 {
        font-size: 30px !important;
    }

    h5 {
        font-size: 20px !important;
    }

    .headimg {
        width: 88vw !important;
        height: 19vh !important;
    }
}

a, a:hover, a:focus {
    color: #88CBD2;
}
/*NAV STYLES*/
#navbut {
    transition: 0.1s;
}

    #navbut:hover {
        color: #AFADAD !important;
    }


.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.9);
    overflow-x: hidden;
    transition: 0.4s;
    padding-top: 60px;
    text-align: center;
}

    .sidenav a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 25px;
        color: #818181;
        display: block;
        transition: 0.3s;
    }

        .sidenav a:hover {
            color: #f1f1f1;
        }

    .sidenav .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
    }

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

        .sidenav a {
            font-size: 18px;
        }
}




/*HOME STYLES*/
.home {
    background-image: linear-gradient(rgba(125,125,125,0.4),rgba(125,125,125,0.4)),url('coders.gif');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    width: 100%;
    height: 100vh;
}

.headimg {
    display: block;
    margin: 0 auto;
    width: 80vw;
    height: 38vh;
    opacity: 0;
}

.headtext {
    font-size: 120px;
}

.top-button {
    opacity: 0;
    padding-top: 5vh;
    padding-bottom: 5vh;
    padding-left: 8vh;
    padding-right: 8vh;
    border: 3px solid rgb(233,186,0);
    display: inline;
    font-family: 'Titillium Web', sans-serif !important;
    color: rgb(233,186,0);
    text-align: center;
    font-family: bold;
    font-size: 5vh;
    font-weight: 1000;
    border-radius: 0px;
    transition: ease all .2s;
}

    .top-button:hover {
        background-color: rgb(233,186,0);
        color: black;
        background-repeat: no-repeat;
        background-size: 16px;
    }
/*ABOUT STYLES*/
.about {
    background-color: #1C1C1C;
}

.about-head {
    color: rgb(233,186,0);
    font-family: 'Titillium Web', sans-serif !important;
    ;
    text-align: center;
    font-size: 100px;
    padding-top: 10px;
    padding-bottom: 5vh;
}

.about-subhead {
    color: rgb(233,186,0);
    font-family: 'PT Sans Narrow', sans-serif !important;
}

.about-body {
    color: rgb(233,186,0);
    font-family: 'Abel', sans-serif !important;
}
/*COURSES STYLES*/

.courses {
    background-color: #6C6B6B;
}

.courses-head {
    color: rgb(233,186,0);
    font-family: 'Titillium Web', sans-serif !important;
    ;
    text-align: center;
    font-size: 100px;
    padding-top: 10px;
    padding-bottom: 2vh;
}

.courses-subhead {
    color: rgb(233,186,0);
    font-family: 'PT Sans Narrow', sans-serif !important;
}

.courses-body {
    color: rgb(233,186,0);
    font-family: 'Abel', sans-serif !important;
}

.btn-course {
    background-color: rgb(233,186,0) !important;
    border-color: rgba(0,0,0,0) !important;
}

    .btn-course:hover {
        background-color: rgba(233,186,0,0.5) !important;
    }

/*FAQ STYLES*/

.faq {
    background-color: #1C1C18;
}

.faq-head {
    color: rgb(233,186,0);
    font-family: 'Titillium Web', sans-serif !important;
    ;
    text-align: center;
    font-size: 100px;
    padding-top: 10px;
    padding-bottom: 2vh;
}

.faq-subhead {
    color: rgb(233,186,0);
    font-family: 'PT Sans Narrow', sans-serif !important;
}

.faq-body {
    color: rgb(233,186,0);
    font-family: 'Abel', sans-serif !important;
}

/*SCHEDULE STYLES*/
.schedule {
    background-color: #6C6B6B;
}

.schedule-head {
    color: rgb(233,186,0);
    font-family: 'Titillium Web', sans-serif !important;
    ;
    text-align: center;
    font-size: 100px;
    padding-top: 10px;
    padding-bottom: 2vh;
}

.schedule-subhead {
    color: rgb(233,186,0);
    font-family: 'PT Sans Narrow', sans-serif !important;
}

.schedule-body {
    color: rgb(233,186,0);
    font-family: 'Abel', sans-serif !important;
}

.nav-pills a:hover {
    text-decoration: none;
    color: #FFFFFF
}

.nav-tabs > li, .nav-pills > li {
    float: none;
    display: inline-block;
    *display: inline; /* ie7 fix */
    zoom: 1; /* hasLayout ie7 trigger */
}

.nav-tabs, .nav-pills {
    text-align: center;
}


    .nav-pills > .active > a, .nav-pills > .active > a:hover {
        background-color: #424242 !important;
    }

    .nav-pills > li > a:focus, .nav-pills > li > a:hover {
        background-color: #424242;
    }

.table-row {
    display: table;
    table-layout: fixed;
    width: 100%;
    border-collapse: separate;
}


.table-cell {
    display: table-cell;
    position: relative;
}

.table-hover-dark tbody tr:hover td, .table-hover tbody tr:hover th {
    background-color: #424242;
}

td, thead {
    color: rgb(233,186,0);
    font-family: 'Abel', sans-serif !important;
}
/*STAFF STYLES*/
.staff {
    background-color: #E4E4E4;
}

.staff-head {
    color: black;
    font-family: 'Titillium Web', sans-serif !important;
    text-align: center;
    font-size: 100px;
    padding-top: 10px;
    padding-bottom: 2vh;
}

.staff-subhead {
    color: black;
    font-family: 'PT Sans Narrow', sans-serif !important;
}

.staff-body {
    color: black;
    font-family: 'Abel', sans-serif !important;
}

.staff-img {
    height: 250px;
    width: 270px;
    display: block;
    margin: 0 auto;
    border-radius: 50%;
    transition: all .2s ease-in-out;
}

    .staff-img:hover {
        height: 260px;
        width: 280px;
    }

.teach-img {
    height: 200px;
    width: 220px;
    display: block;
    margin: 0 auto;
    border-radius: 50%;
    transition: all .2s ease-in-out;
}

    .teach-img:hover {
        height: 210px;
        width: 230px;
    }

.collapsible {
    background-color: #777;
    color: white;
    cursor: pointer;
    padding: 40px;
    width: 100%;
    font-family: 'Titillium Web', sans-serif !important;
    border: none;
    text-align: center;
    outline: none;
    font-size: 25px;
}

    .collapsible:hover {
        background-color: #555;
    }

.content {
    max-height: 0;
    overflow: hidden;
    transition: max-height .4s ease-out;
    background-color: #DDDDDD;
}

.triangle {
    display: block;
    margin: 0 auto;
    height: 0;
    width: 0;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    border-bottom: 30px solid transparent;
    border-top: 30px solid #777;
}
/*FOOTER STYLES*/
#foot.container-fluid {
    background-color: #2f2f2f;
    color: #ffffff;
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 65px;
    padding-bottom: 65px;
    font-size: 100%;
}
